

#precontent-second-region .view-news p {
  font-size: 16px;
}

#main .view-news h2 a {
  line-height: 250%;
  font-size: 20px;
}

#main h2 a {
  font-size: 18px;
}

#precontent-first-region .view-workshops-courses a h2 {
  font-size: 18px;
}

#precontent-second-region h2 {
  font-size: 20px;
}

#precontent-first-region h2 {
  font-size: 20px;
}

#precontent-second-region .view-news h2 a {
  font-size: 18px;
}

#main p b {
  font-size: 22px;
  color: #6b046b;
}

#precontent {
  margin-top: 10px;
}

#main .field-item h2 {
  color: #6b046b;
}

h2 {
  color: #6b046b;
}

#main #page-title {
  color: #9c9c1c;
}

#main .file a {
  color: #186fc7;
}

#navigation-region li a {
  color: #111111;
}

.node h2 {
  margin-bottom: 10px;
}

#content-inner {
  font-size: 15px;
  padding-top: 10px;
  margin-top: 20px;
  border-top-width: 0px;
  border-style: none;
}
#block-views-news-block-2 {
  border: 2px solid #6b046b;
  padding: 8px;
  background-color: #fef5f1;
}
#block-views-news-block-2 .title {
  color: #186fc7;
}
span.music-note {
  background: url("/sites/default/themes/mythemes/acq_orff/images/music_note.png") 100% no-repeat;
  padding: 10px 25px 2px 0px;
  font-size: 28px;
}
.view-news.view-display-id-page .views-row {
  border-bottom: 1px solid #999999;
  padding-bottom: 25px;
}
.view-news.view-display-id-page .views-row.views-row-last {
  border-bottom: none;
}
.col.left {
  margin-left: 3%;
  padding-left: 2%;
}
.col-2 .col {
  width: 47%;
}
.view-paypal-sidebar form {
  margin: -25px 0 0 0;
}
